@model Master40.DB.DataModel.M_Article

@{
    ViewData[index: "Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(expression: model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.DeliveryPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.DeliveryPeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.ArticleType)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.ArticleType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Unit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
