@using Master40.DB.Models
@model Master40.DB.Models.Machine
@{ 
    var name = Model.Name.Replace(" ", "");
    var percent = "0 %";
}

    <div style="float:left; margin-top: 5px; margin-bottom: 5px;">
        <div class="chartContainer">
            <div class="textLayer @name">
                @percent
            </div>
            <div class="chartLayer">

                <!--div id="js-legend" class="chart-legend"><div-->

                <canvas id="@name"></canvas>
            </div>
        </div>
        <div style="text-align:center;">@Model.Name</div>

    </div>
    <style>


        .chartLayer, textLayer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .textLayer {
            z-index: -10;
            color: #666;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }
    </style>
    <script>
        var @name = document.getElementById("@Model.Name.Replace(" ", "")");
        var Workload_@name =
            new Chart(@name,
                {
                    "type": "doughnut"
                    , "data": {
                        "datasets": [{ "type": "pie", "backgroundColor": ["rgba(125, 180, 86, 0.3)", "rgba(227, 76, 87, 0.3)"], "borderColor": ["rgba(125, 180, 86, 0.8)", "rgba(227, 76, 87, 0.8)"], "borderWidth": 1, "data": [0, 100] }]
                        , "labels": ["Working", "Empty"]
                    }, "options": {
                        "cutoutPercantage": 80, "rotation": 2.5132741228718345, "circumference": 4.39822971502571, "responsive": true, "maintainAspectRatio": false
                        , "title": { "position": "top", "fontSize": 24, "fontStyle": "bold", "text": "Machine Workload" }
                        , "legend": { "display": false, "position": "bottom" }
                    }
                }
            );

        processingProxy.on("@name", function (msg) {
            //console.log("@name :" + msg);

            msg = msg * 100;
          
            document.getElementsByClassName("@name")[0].innerHTML = Math.round(msg) + " %";
            (Workload_@name).data.datasets[0].data = [msg, 100 - msg];
            (Workload_@name).update();
        });
    </script>



