@using System.Collections
@using Master40.Models.DB
@model Master40.Models.DB.ArticleBom

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ArticleBom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.ArticleID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParrentArticleBom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParrentArticleBom.ArticleBomID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleBomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
