@model Master40.DB.DataModel.T_CustomerOrderPart
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderPart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(expression: model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.IsPlanned)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.IsPlanned)
        </dd>
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(expression: model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Article.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.CustomerOrder)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.CustomerOrder.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    </form>
</div>

