@using Master40.DB.DB.Models
@model Master40.DB.DB.Models.OrderPart

<div>
    <h4>OrderParts for Order No.: @Html.DisplayFor(model => model.Order.Id)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPlanned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPlanned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Name)
        </dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
</div>
