@model IEnumerable<Master40.Models.DB.ArticleBom>
@{
    string level = ViewData["level"]?.ToString() + ">";
    ViewData["level"] = level;
}
@if (Model.Count() > 0 && Model != null)
{
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @level
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleChild.ArticleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleParent.ArticleID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArticleBomId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArticleBomId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArticleBomId">Delete</a>
                </td>
            </tr>
            if (item.ArticleChild != null && item.ArticleChild.ArticleBoms != null && item.ArticleChild.ArticleBoms.Count() > 1)
            {
                <tr>
                    <td colspan="7">
                        @Html.Partial("ArticleBom", item.ArticleChild.ArticleBoms, this.ViewData)
                    </td>
                </tr>
            }

        }
    </tbody>
}