@model IEnumerable<Master40.DB.DataModel.M_ArticleBom>
@{
    string level = ViewData[index: "level"]?.ToString() ?? "";
    level = (level != "") ? level + "." : level;
    int count = 0;
    string display = "";
}
@if (Model.Any() && Model != null)
{
   foreach (var item in Model)
    {
        <tr>
            <td>
                @{ count = count + 1; display = level + count.ToString(); }
                @display
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.ArticleChild.Id)
            </td>
            <td>
                @Html.DisplayFor(expression: modelItem => item.ArticleParent.Id)
            </td>
            <td>
                @foreach (var ag in item.ArticleChild.Operations)
                {
                    <table>
                        <tr>
                            <td style="width: 25px;">@ag.HierarchyNumber</td>
                            <td>@ag.Name</td>
                        </tr>
                    </table>
                }
            </td>
            <td style="width: 113px;">
                <a asp-action="Edit" asp-controller="ArticleBoms" asp-route-id="@item.Id"
                   data-target="#modal-container" data-toggle="modal" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-pencil-square-o fa-1x fa-unset"></i>
                </a>
                <a id="@item.Id" asp-action="Details" asp-controller="ArticleBoms" asp-route-id="@item.Id" 
                     data-target="#modal-container" data-toggle="modal" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-eye fa-1x fa-unset"></i>
                </a>
                <a asp-action="Delete" asp-controller="ArticleBoms" asp-route-id="@item.Id"
                    data-target="#modal-container" data-toggle="modal" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-trash fa-1x fa-unset"></i>
                </a>
            </td>
        </tr>
        if (item.ArticleChild.ArticleBoms != null)
        {
            ViewData[index: "level"] = level + count.ToString();
            @Html.Partial(partialViewName: "ArticleBom", model: item.ArticleChild.ArticleBoms, viewData: this.ViewData)
            }
        }
}