@model Master40.DB.DataModel.M_ArticleBom

@{
    ViewData[index: "Title"] = "Details";
    Layout = "";
}

<h2>Details</h2>

<div>
    <h4>ArticleBom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(expression: model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.ArticleChild)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.ArticleChild.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.ArticleParent)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.ArticleParent.Name)
        </dd>
    </dl>
</div>

@if (Model.ArticleChild.PictureUrl != null)
{
    <div>
        <img src="@Html.Raw(value: Model.ArticleChild.PictureUrl)" width="550"/>
    </div>
}

<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
    <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@Model.Id">
        <i class="fa fa-pencil-square-o fa-1x fa-unset"></i> Edit</a>
</div>
