@model IEnumerable<Master40.Models.DB.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArticleID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArticleID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArticleID">Delete</a>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h3>Bomstructure</h3>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    ArticleChild
                                </th>
                                <th>
                                    ArticleParent
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.Partial("ArticleBom", item.ArticleBoms, new ViewDataDictionary(ViewData) { { "level", "" } })
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>



