@model Master40.DB.DataModel.M_Stock

@{
    ViewData[index: "Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(expression: model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Max)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Max)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Min)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Min)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Current)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Current)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Article.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
