@using Master40.DB.ReportingModel
@{
    List<Master40.DB.Data.Helper.BoxPlot> boxPlot = (List<Master40.DB.Data.Helper.BoxPlot>)ViewData[index: "BoxPlot"];
    Layout = (boxPlot.Count() > 2) ? "_Layout" : "";
    var kpis = (List<Kpi>)ViewData[index: "Data"];
}

<style>

</style>

<h4>Leadtimes - in comparison</h4>
<div><br /></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2 col-lg-1" style="padding-right: 0px;">
                <div class="pull-right" style="height: 300px;">
                    @{ var scale = 0;
                        var strScale = "";
                        }
                    @for (int i = 0; i < 3; i++)
                    {
                        { scale = scale + 75;
                          strScale = scale + "px"; }
                        <div style="position: absolute; top: 0px; right:0px; width: 5px; border-bottom: 1px solid #808080; height: @strScale; vertical-align: top; text-align: right;"></div>

                    }
                    @{ scale = 0; }

                </div>
                <div style="height: 290px">@ViewData[index: "max"]</div>
                <div style="height: 20px">0&nbsp;min</div>
                <div style="height: 20px"><b>Articles</b></div>
            </div>
            <div class="col-md-10 col-lg-11">
                <div class="row" style="border-bottom: 2px solid #808080; border-left: 2px solid #808080; text-align: center; top: 0px;">
                    @for (int i = 0; i < 3; i++)
                    {
                        { scale = scale + 75;
                          strScale = scale + "px";
                        }
                        <div style="position: absolute; top: 0px; left: 0px; width: -webkit-fill-available; border-bottom: 1px dashed #808080; height: @strScale; vertical-align: top; text-align: right;"></div>

                    }

                    @foreach (var item in boxPlot)
                    {
                        <div class="boxplot-box" style="width: @Html.Raw(value: 100 / @boxPlot.Count())%; max-width:80px; display: inline-block; cursor:pointer; top: 0px; height:300px;" data-toggle="popover"
                             onmouseover="this.style.background='lightgray';" onmouseout="this.style.background='transparent';"
                             data-placement="right" data-original-title="Details: @Html.Raw(value: item.Name)" 
                             data-content="Highest Sample: @item.HeigestSample <br /> Upper Quartile: @item.UpperQartile<br />Median: @item.Median<br /> Lower Quartile: @item.LowerQuartile<br /> Lowest Sample: @item.LowestSample">
                            @Html.Partial(partialViewName: "~/Views/Shared/Components/ProductLeadTimeBoxPlot/BoxPlot.cshtml", model: item, viewData: this.ViewData)
                        </div>

                    }
                </div>
                <div class="row" style="text-align: center; vertical-align: top;">
                    @foreach (var item in boxPlot)
                    {
                        <div style="width:80px; display: inline-block; vertical-align: top;">
                            <div style="position: relative; top:0px; left:0px; width: inherit; border-right: 2px solid #808080; height: 5px; "></div> 
                                @Html.Raw(value: item.Name)
                        </div>
                    }
                </div>


            </div>

        </div>



    </div>
    <div class="col-md-4">
        <table class="table table-responsive table-striped table-condensed">
            <thead>
            <tr>
                <th style="width: 130px;">Article</th>
                <th>Min [min]</th>
                <th>Max [min]</th>
                <th>Average [min]</th>
            </tr>
                @for (var i = 0; i < kpis.Count(); i++)
                {
                    <tr>
                        <td>@Html.Raw(value: kpis[index: i].Name + "<br> SimId: " + kpis[index: i].SimulationConfigurationId + " " + kpis[index: i].SimulationType)</td>
                        <td>@(Math.Round(value: kpis[index: i].ValueMin, digits: 0))</td>
                        <td>@(Math.Round(value: kpis[index: i].ValueMax, digits: 0))</td>
                        <td>@(Math.Round(value: kpis[index: i].Value, digits: 2))</td>
                    </tr>
                }
            </thead>
        </table>
    </div>

