@model IEnumerable<Master40.Models.DB.ArticleBomPart>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleBom)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Article.ArticleID):@Html.DisplayFor(modelItem => item.Article.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleBom.ArticleBomId):@Html.DisplayFor(modelItem => item.ArticleBom.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArticleBomPartsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArticleBomPartsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArticleBomPartsId">Delete</a>
                </td>
            </tr>
            if (item.ChildArticleBomParts != null)
            {
                <tr>
                    <td></td>
                    <td colspan="5">
                        @Html.Partial("BomPart", item.ChildArticleBomParts)
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}