@{
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];
    string raw = "Chart Rendering Failed";
    string type = ViewData["Type"].ToString();
    var kpis = (List<Master40.DB.Models.Kpi>)ViewData["Data"];
    if (chart != null) {
        raw = chart.CreateChartCode("ProductLeadTime_" + type);
    }
}

<style>
    .LeadChartContainer {
        position: relative;
        width: 250px;
        margin-left: 75px;
        height: 150px;
    }

    LeadChartLayer > canvas {
        width: 250px;
        height: 150px;
    }

    .LeadChartLayer, LeadTextLayer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .LeadTextLayer {
        z-index: -10;
        color: #666;
        font: bold 30px Helvetica;
        display: flex;
        padding-top: 80px;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="LeadChartContainer">
            <div class="LeadChartLayer">
                <!--div id="js-legend" class="chart-legend"><div-->
                <canvas id="ProductLeadTime_@type"></canvas>
            </div>
            <div class="LeadTextLayer">
                @ViewData["percentage"]
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Average</th>
                </tr>
                @foreach (var item in kpis)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@(Math.Round(item.ValueMin, 0))</td>
                        <td>@(Math.Round(item.ValueMax, 0))</td>
                        <td>@(Math.Round(item.Value, 2))</td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
<script>
    @Html.Raw(raw);
</script>