@model Master40.DB.DataModel.T_ProductionOrder

@{
    ViewData[index: "Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductionOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(expression: model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(expression: model => model.Article)
        </dt>
        <dd>
            @Html.DisplayFor(expression: model => model.Article.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
