@model IEnumerable<Master40.DB.ReportingModel.ConfigurationItem>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for Configuration</h1>

<div>
    <h4>ConfigurationItem</h4>
    <hr />
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Property)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">
                            <i class="fas fa-edit fa-1x fa-unset"></i> Edit
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">
                            <i class="fas fa-trash fa-1x fa-unset"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>